.contact{
	background-color: #eff3f7;
}
.title{
	text-align: center;
	background-color: #48cbe8;
	color: #fff;
	padding: 60px 0px;
	border-bottom: solid 17px #67dffa; 
	font-size: 27px;
	margin-top: 0px;
}

.contact-form{
	padding: 20px 125px 50px 125px;
	color: #959aa8;
	font-size: 17px;
}
input{
		border-radius: 5px;
}
input,textarea{
	border: solid 1px #48cbe8;
	outline: none;
}

.button-submit{
	background-color: #48cbe8;
	color: #fff;
	border: none;
	border-bottom: 3px solid #3ba8c0;
	position: relative;
	padding: 8px 20px;
	margin-top: 20px;
	float: left;
}
.button-submit:hover{
	background-color: #45bdd8;
}
.button-submit:active{
	outline: none;
	border: none;
	top: 3px;
}
.button-reset{
	background-color: #849db5;
	color: #fff;
	border: none;
	float: right;
	border-bottom: 3px solid #687b8f;
	padding: 8px 20px;
	margin-top: 20px;
	position: relative;
}
.button-reset:hover{
	background-color: #8ea9c2;
}

.button-reset:active{
	outline: none;
	border: none;
	top: 3px;
}

.code{
	width: 46%;
    display: inline-block;
    vertical-align: top;
    margin-top: 24px;
    margin-left: 15px;
}
.formgroup {
	float: left;
	width: 50%;
	margin-bottom: 20px;
	box-sizing:border-box;
}

.formgroup label{
	display: block;
}
.formgroup input{
	width: 100%;
	padding: 8px 0px;
}

.formgroup input::-webkit-input-placeholder { 
	color: #48cbe8; 
	font-size: 13px; 
	padding:3px 0px 0px 8px;
}
.buttons-width{
width: 100%;
}
.massage textarea::-webkit-input-placeholder {
	color: #48cbe8; 
	font-size: 13px; 
	padding:3px 0px 0px 8px;
}
input.code::-webkit-input-placeholder { 
	color: #48cbe8; 
	font-size: 13px;
	padding:3px 0px 0px 8px;
}
.formgroup input:focus::-webkit-input-placeholder { 
	color:transparent;
}
.massage textarea:focus::-webkit-input-placeholder { 
	color:transparent;
}
input.code:focus::-webkit-input-placeholder { 
	color:transparent;
}


.formgroup:first-child{
	padding-right: 20px;
}
.formgroup:last-child{
	padding-left: 20px;
}











